version: '3.9'

services:
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:2.0
    restart: always
    ports:
      - '${PGADMIN_PORT}:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    networks:
      hmmg-cidadao:
        ipv4_address: 10.224.0.4

networks:
  hmmg-cidadao:
    name: hmmg-cidadao
    ipam:
      config:
        - subnet: 10.224.0.0/23
